/* 导航样式 */
.site-menubar-unfold.collapse {
  display: block;
}

.site-navbar {
  z-index: 2000;
  background-color: $nav-background-color;
  .navbar-left {
    float: left;
  }
  .site-navbar .nav-tabs>li>a {
    padding: 19px 15px;
    margin: 0;
    border-bottom: none!important;
    border-radius: 0!important;
  }
}

.navbar {
  /*position: relative;*/
  min-height: 60px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}

.site-navbar .navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-toggle-left {
  float: left;
  margin-right: 0;
  margin-left: 12px;
}

.navbar-toggle {
  height: 60px;
  padding: 19px 12px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 22px;
  background: 0 0!important;
  -webkit-transition: color .25s linear;
  -o-transition: color .25s linear;
  transition: color .25s linear;
}

.site-navbar .nav-tabs {
  border-bottom: none;
}

.navbar-toolbar>li {
  float: left;
}

.nav>li {
  position: relative;
  display: block;
}

.navbar-inverse .navbar-toolbar>li>a {
  color: #fff;
}

.navbar-toolbar>li>a {
  padding-top: 19px;
  padding-bottom: 19px;
  line-height: 22px;
}

.nav>li>a {
  overflow: hidden;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.site-navbar .navbar-toolbar.navbar-left .navbar-menu {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
}

.navbar-toolbar>li {
  float: left;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.site-navbar .nav-tabs {
  border-bottom: none;
}

.navbar-toolbar {
  float: left;
}

.site-navbar .nav-tabs>li {
  margin-bottom: 0;
}

.navbar-toolbar>li {
  float: left;
}

.navbar-inverse .navbar-toolbar>.active>a, .navbar-inverse .navbar-toolbar>.active>a:focus, .navbar-inverse .navbar-toolbar>.active>a:hover {
  color: #fff;
  background-color: rgba(0,0,0,.1);
}

.site-navbar .nav-tabs>li>a {
  padding: 19px 15px;
  margin: 0;
  border-bottom: none!important;
  border-radius: 0!important;
}

.navbar-inverse .navbar-toolbar>li>a {
  color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: #62a8ea;
  border-color: transparent;
  border-bottom-color: #62a8ea;
}

.site-navbar .nav-tabs>li>a {
  padding: 19px 15px;
  margin: 0;
  border-bottom: none!important;
  border-radius: 0!important;
}


.navbar-inverse .navbar-toolbar>li>a {
  color: #fff;
}

.navbar-toolbar>li>a {
  padding-top: 19px;
  padding-bottom: 19px;
  line-height: 22px;
}

.icon-fullscreen {
  font-family: "Web Icons";
}

.icon-fullscreen:before {
  content: "\f11d";
}

.navbar-inverse .navbar-toolbar>li>a:focus, .navbar-inverse .navbar-toolbar>li>a:hover {
  color: #fff;
  background-color: rgba(0,0,0,.1);
  border-color: transparent;
}

.nav-tabs>li .dropdown-menu {
  margin-top: 3px;
}

.navbar-brand {
  float: left;
  height: 60px;
  padding: 19px 12px;
  font-size: 18px;
  line-height: 22px;
}

.navbar-brand {
  padding: 19px 20px;
  font-weight: 700;
}

.navbar-brand-logo {
  height: 45px;
  margin-top: -10px;
}

.hamburger {
  font-size: 20px;
  vertical-align: middle;
}

.icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hamburger:after, .hamburger:before {
  content: "";
}

.hamburger .hamburger-bar,
.hamburger:after,
.hamburger:before {
  display: block;
  width: 1em;
  height: .1em;
  margin: 0;
  background: #76838f;
  border-radius: 1px;
}

.hamburger .hamburger-bar {
  margin: .2em 0;
}

.navbar-default .hamburger .hamburger-bar, .navbar-default .hamburger:after, .navbar-default .hamburger:before {
  background: #76838f;
}

.site-menubar-unfold [data-toggle=collapse] .hamburger-arrow-left .hamburger-bar {
   border-radius: .2em;
 }

.navbar-inverse .hamburger .hamburger-bar, .navbar-inverse .hamburger:after, .navbar-inverse .hamburger:before {
  background: #fff;
}

.collapse [data-toggle=collapse] .hamburger-arrow-left:before {
  width: .6em;
  -webkit-transform: translate3d(.45em,.1em,0) rotate(45deg);
  transform: translate3d(.45em,.1em,0) rotate(45deg);
}

.collapse [data-toggle=collapse] .hamburger-arrow-left:after {
  width: .6em;
  -webkit-transform: translate3d(.45em,-.1em,0) rotate(-45deg);
  transform: translate3d(.45em,-.1em,0) rotate(-45deg);
}

.collapse [data-toggle=collapse] .hamburger-arrow-left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navbar-right {
  float: right!important;
  margin-right: 12px;
}

.icon-fullscreen.active:before {
    content: "\f11e";
}

.navbar-fixed-bottom, .navbar-fixed-top {
  width: 100%;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

@media (min-width: 768px) {
  .site-navbar .navbar-header {
    width: 220px;
  }

  .collapse.in [data-toggle=collapse] .hamburger-arrow-left:before {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out,-o-transform .2s ease-in-out;
  }

  .collapse.in [data-toggle=collapse] .hamburger-arrow-left:after {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out,-o-transform .2s ease-in-out;
  }

  .collapse.in [data-toggle=collapse] .hamburger-arrow-left {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out,-o-transform .2s ease-in-out;
  }
}

@media (max-width: 767px) {
  .navbar-brand-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }

  .navbar-brand-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  .site-menubar {
    top: 60px;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    -webkit-transform: translate3d(-220px,0,0);
    -ms-transform: translate(-220px,0);
    -ms-transform: translate3d(-220px,0,0);
    transform: translate3d(-220px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .site-menubar-unfold .site-contabs, .site-menubar-unfold .site-footer, .site-menubar-unfold .site-page {
    margin-left: auto;
  }
  .collapse.in .site-contabs, .collapse.in .site-footer, .collapse.in .site-page {
    margin-left: 220px;
  }

  .collapse.in .hamburger-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 8%;
    -ms-transform-origin: 8%;
    -o-transform-origin: 8%;
    transform-origin: 8%;
  }

  .collapse.in .hamburger-bar {
    opacity: 0;
  }

  .collapse.in .hamburger-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 8%;
    -ms-transform-origin: 8%;
    -o-transform-origin: 8%;
    transform-origin: 8%;
  }

  .collapse.in .site-menubar {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .site-navbar .navbar-container {
    background-color: transparent;
  }

  .site-navbar .navbar-container .navbar-collapse {
    padding-left: 12px;
    border-color: rgba(0,0,0,.1);
  }

  .hidden-float {
    display: none!important;
  }

  .site-navbar .nav-tabs>li>a span {
    display: none;
  }

  .navbar-toolbar .open {
    position: static;
  }

  .site-navbar .navbar-toolbar.navbar-left .navbar-menu {
    position: static;
    width: 100%;
  }

  .navbar-toolbar .dropdown-menu:not(.dropdown-menu-media) {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .navbar-toolbar .open .dropdown-menu {
    right: 0;
    left: 0;
    float: none;
    width: auto;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}