/* 全局变量 */
$default-color: #76838f;
$default-a-color: #62a8ea;
$default-a-hover-color: #89bceb;
$white: #ffffff;
$gray: #999999;
$danger-color: #f96868;
$danger-border-color: #ffeaea;

$default-size: 14px;
$default-line-height: 1.6;

/* master样式 */
$nav-background-color: #4e97d9;
$page-background-color: #f1f4f5;
$menu-background-color: #263238;
$copyright-color: #37474f;