body, h1, h2, h3, h4, h5, .ui.button, .ui.modal > .header .ui.menu, .ui.header, pre {
    font-family: "Hiragino Sans GB", "open sans", "sans-serif", "Helvetica", "STHeiti", "Arial", "Microsoft YaHei", "simsun";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}