body, h1, h2, h3, h4, h5, .ui.button, .ui.modal > .header .ui.menu, .ui.header, pre {
  font-family: "Hiragino Sans GB", "open sans", "sans-serif", "Helvetica", "STHeiti", "Arial", "Microsoft YaHei", "simsun";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #76838f;
  background-color: #fff;
}

a {
  color: #62a8ea;
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover,
a::visited {
  outline:0;
}

a:focus,
a:hover {
  color:#89bceb;
  text-decoration:underline;
}

p {
  margin: 0 0 11px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

[class*=animation-] {
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " ";
}

.page-login {
  height: 100%;
  min-height: 600px;
  padding-top: 0;
  overflow: hidden;
  .page-content {
    padding-right: 500px;
  }
  .page-brand-info {
    height: 100%;
  }
  .page-copyright {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    text-align: center;
  }
  .login-form {
    width: 350px;
    margin: 45px 0 20px;
    .form-control {
      height: 42px;
    }
  }
}

body.layout-full {
  padding-top: 0;
}

.page-dark.layout-full {
  color: #fff;
}

.page-dark.layout-full:before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
}

.page-login:before {
  background-image: url(../images/login.jpg);
}

.height-full {
  height: 100%!important;
}

.page-content {
  padding: 20px 20px;
}

.animation-slide-left {
  -webkit-animation-name: slide-left;
  -o-animation-name: slide-left;
  animation-name: slide-left;
}

.vertical-align {
  font-size: 0;
}

.page-content>:not(script):last-child {
  margin-bottom: 0!important;
}

.page-login-main {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-height: 600px;
  padding: 150px 60px 180px;
  padding: 0 60px;
  color: #76838f;
  background: #fff;
  .vertical-align {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 65px;
  }
  > .alert {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    border-radius: 0;
  }
}

.animation-fade {
  -webkit-animation-name: fade;
  -o-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: .8s;
  -o-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.page-copyright {
  margin-top: 60px;
  font-size: 12px;
  color: #37474f;
  letter-spacing: 1px;
}

.vertical-align:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vertical-align-bottom,
.vertical-align-middle {
  display: inline-block;
  max-width: 100%;
  font-size: 14px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.form-group {
  margin-bottom: 12px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #62a8ea;
  border-color: #62a8ea;
}

.input-group-addon {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #76838f;
  text-align: center;
  background-color: #f3f7f9;
  border: 1px solid #e4eaec;
  border-radius: 3px;
}

.padding-0 {
  padding: 0!important;
}

.alert-danger {
  color: #f96868;
  background-color: rgba(255,234,234,.8);
  border-color: #ffeaea;
}