::-moz-selection {
  color: #fff;
  background: #14B9C8; }

::selection {
  color: #fff;
  background: #14B9C8; }

.event-gift-container {
  position: relative; }

a {
  color: #f07b7c; }

a {
  color: #b0b0b0;
  text-decoration: none; }

body {
  line-height: 20px;
  background-color: #f2f2f2;
  transition: all .3s ease-in-out 0s; }

footer.footer .pull-right .list-inline > li:nth-child(1) > a, footer.footer .pull-right .list-inline > li:nth-child(1) > button {
  background: url(../images/icons.png) 0 -38px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(2) > a, footer.footer .pull-right .list-inline > li:nth-child(2) > button {
  background: url(../images/icons.png) 0 -80px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(3) > a, footer.footer .pull-right .list-inline > li:nth-child(3) > button {
  background: url(../images/icons.png) 0 -122px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(4) > a, footer.footer .pull-right .list-inline > li:nth-child(4) > button {
  background: url(../images/icons.png) 0 -164px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(5) > a, footer.footer .pull-right .list-inline > li:nth-child(5) > button {
  background: url(../images/icons.png) 0 -206px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(6) > a, footer.footer .pull-right .list-inline > li:nth-child(6) > button {
  background: url(../images/icons.png) 0 -248px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li > div > span {
  display: block;
  position: relative;
  margin: 0; }

footer.footer .pull-right .list-inline > li:nth-child(6) > div > span {
  width: 230px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); }

footer.footer .pull-right .list-inline > li > div {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding-bottom: 10px;
  border-radius: 3px;
  transition: opacity .3s ease-in-out 0s; }

footer.footer .pull-left .footer-left-header {
  margin: 0 0 15px; }

footer.footer .pull-left .footer-left-header .left-header-logo {
  float: left;
  display: block;
  width: 120px;
  height: 36px;
  background: url(../images/icons.png) no-repeat;
  background-size: 120px; }

footer.footer .pull-left .footer-left-header .dropdown {
  margin: 0 0 0 135px;
  padding: 16px 0 0; }

footer.footer .pull-left .footer-left-header .dropdown .btn, footer.footer .pull-left .footer-left-header .dropdown section.developer-app-submit .app-submit-main.form > form .form-footer .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer footer.footer .pull-left .footer-left-header .dropdown .btn-save-verifying {
  padding: 0;
  line-height: 20px;
  color: #999;
  border: none; }

footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu {
  margin: 0 0 -16px;
  padding: 10px 0;
  border-radius: 3px;
  background: #eee; }

footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu > li > a {
  color: #666; }

footer.footer .pull-left .footer-left-header .dropdown .link {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: middle;
  line-height: 20px; }

footer.footer .pull-left .footer-left-header .dropdown .link a {
  color: #999; }

footer.footer .pull-left > p {
  margin: 0 0 15px;
  line-height: 30px;
  font-family: Arial;
  font-size: 24px;
  color: #999; }

footer.footer .pull-left > span {
  font-family: Arial;
  font-size: 12px;
  color: #838383; }

footer.footer .pull-left > span a {
  color: #838383; }

@media screen and (min-width: 1360px) {
  .top {
    background: url(../images/top_banner.jpg) repeat center top;
    height: 180px;
    border-top: 2px solid #F26588; } }

.banner {
  position: relative;
  z-index: 1;
  height: 170px;
  background: url(../images/home_banner.jpg) no-repeat center;
  background-size: cover; }

.nav_top {
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 9999;
  color: #fff;
  position: absolute !important;
  height: 40px !important;
  background: rgba(255, 255, 255, 0.6) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px !important; }
  .nav_top .auth {
    display: inline-block;
    list-style: none; }
    .nav_top .auth li {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 40px;
      float: left; }
      .nav_top .auth li a {
        width: auto;
        float: left;
        line-height: 40px;
        padding: 0 1rem;
        text-decoration: none;
        color: #333;
        height: 40px; }
    .nav_top .auth li:hover {
      background: rgba(255, 255, 255, 0.7) !important; }

.nav_menu {
  margin: 0 auto;
  background: #f07b7c; }
  .nav_menu a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 0px 20px; }
  .nav_menu a:hover,
  .nav_menu a.active {
    background-color: #e25656; }
  .nav_menu a.active {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px !important; }

.footer {
  padding-top: 15px;
  position: relative; }
  .footer .footlink {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); }
    .footer .footlink span {
      padding: 0 10px;
      color: #dcdcdc; }
    .footer .footlink a:hover {
      color: #f07b7c; }
  .footer .copyright {
    color: #999;
    padding: 10px; }
    .footer .copyright p {
      margin: 0 0 10px; }

.hiver-breadcrumb {
  margin-bottom: 20px;
  background: #fff;
  border-bottom: 1px solid #ddd; }
  .hiver-breadcrumb .breadcrumb {
    margin: 0;
    padding: 5px 15px;
    border-radius: 0;
    background: 0 0; }
  .hiver-breadcrumb .breadcrumb > li > span,
  .hiver-breadcrumb .breadcrumb > li.active > span {
    font-size: 12px;
    color: #14B9C8; }
  .hiver-breadcrumb .breadcrumb > li + li:before {
    color: #666;
    content: "\00bb"; }
  .hiver-breadcrumb .breadcrumb > li:nth-child(2):before {
    content: ""; }

section.auth-main {
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); }
  section.auth-main .auth-main-title {
    font-size: 18px;
    margin: 0 33px;
    padding: 16px 0;
    height: 62px;
    line-height: 30px;
    color: #333;
    border-bottom: 1px solid #e5e5e5; }
  section.auth-main .auth-main-body .main-body-header {
    padding: 60px 0 0;
    text-align: center; }
  section.auth-main .main-body-header > p {
    margin: 0 auto;
    padding: 44px 0 0;
    width: 160px;
    text-align: center;
    color: #14B9C8;
    background: url(../img/background/auth-icon.png?20161128) no-repeat;
    background-size: 160px; }
  section.auth-main .main-body-header > p > span {
    display: block;
    background: #fff; }

.main-body-login {
  position: relative;
  margin: 60px auto 50px;
  width: 380px;
  overflow: hidden; }

section.auth-main .auth-main-body.login .third-account-wrapper,
section.auth-main .auth-main-body.login .third-account-wrapper li,
section.auth-main .auth-main-body.register .third-account-wrapper,
section.auth-main .auth-main-body.register .third-account-wrapper li {
  position: static; }

section.auth-main .auth-main-body.login .phone-register,
section.auth-main .auth-main-body.register .phone-register {
  margin-bottom: 143px; }

section.auth-main .auth-main-body.login form .form-group,
section.auth-main .auth-main-body.register form .form-group {
  position: relative;
  margin-bottom: 25px; }

section.auth-main .auth-main-body.login .label-name,
section.auth-main .auth-main-body.register .label-name {
  height: 21px;
  line-height: 21px;
  font-size: 16px;
  color: #999;
  position: absolute;
  left: 0;
  top: 9px;
  text-indent: 5px; }

section.auth-main .auth-main-body.login .form-control,
section.auth-main .auth-main-body.register .form-control {
  border-radius: 0px;
  border: none;
  padding-left: 100px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  color: #ccc;
  line-height: 21px;
  font-size: 16px;
  width: 100%;
  box-shadow: none;
  transition: none; }

section.auth-main .auth-main-body.login .has-error .form-control,
section.auth-main .auth-main-body.register .has-error .form-control {
  border-bottom: 1px solid #DB4437; }

section.auth-main .auth-main-body.login .form-control:focus,
section.auth-main .auth-main-body.register .form-control:focus {
  outline: 0;
  border-bottom-color: #14B9C8;
  color: #333; }

.auth-main-body.register form .btn {
  padding: 14px 12px;
  line-height: 20px;
  font-size: 18px;
  border-color: #12A7B4;
  background: #12A7B4;
  color: #fff; }

.main-body-login .third-account-tip {
  height: 22px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background: #fff;
  position: relative; }
  .main-body-login .third-account-tip span {
    padding: 10px 15px;
    line-height: 20px;
    font-size: 12px;
    color: #A0A0A0;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -50px;
    background: #fff; }

.main-body-login .third-account-wrapper {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  position: static; }
  .main-body-login .third-account-wrapper .third-account-wrapper-item {
    width: 100%; }
  .main-body-login .third-account-wrapper a {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    text-align: center; }
    .main-body-login .third-account-wrapper a .icon {
      display: block;
      margin: 0 auto;
      height: 48px;
      width: 48px;
      background: url(../images/icons.png) no-repeat;
      background-size: 140px; }
    .main-body-login .third-account-wrapper a .icon.icon-weixinweb {
      background-position: 0 -93px; }
    .main-body-login .third-account-wrapper a .icon.icon-qq {
      background-position: 0 -141px; }
    .main-body-login .third-account-wrapper a .icon.icon-weibo {
      background-position: 0 -239px; }
    .main-body-login .third-account-wrapper a span {
      display: block;
      font-size: 12px;
      color: #999;
      height: 20px;
      line-height: 20px;
      margin-top: 3px; }
  .main-body-login .third-account-wrapper a:hover {
    text-decoration: none; }
    .main-body-login .third-account-wrapper a:hover .icon.icon-weixinweb {
      background-position: -49px -93px; }
    .main-body-login .third-account-wrapper a:hover .icon.icon-qq {
      background-position: -49px -141px; }
    .main-body-login .third-account-wrapper a:hover .icon.icon-weibo {
      background-position: -49px -239px; }

section.auth-main .auth-main-body.login .phone-register .help-block,
section.auth-main .auth-main-body.register .phone-register .help-block {
  margin: 30px 0 40px; }

section.auth-main .auth-main-body.login form > .help-block > p > a,
section.auth-main .auth-main-body.register form > .help-block > p > a {
  color: #14B9C8; }

section.auth-main .auth-main-body.login form > .help-block::after,
section.auth-main .auth-main-body.profile-edit > form::after,
section.auth-main .auth-main-body.register form > .help-block::after {
  content: "";
  display: table;
  clear: both; }

.login-form-group {
  margin-bottom: 40px; }

section.auth-main .auth-main-body .main-body-links > a {
  color: #14B9C8; }

section.auth-main .auth-main-body.login form .form-group .help-block,
section.auth-main .auth-main-body.register form .form-group .help-block {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 5px 0 0;
  font-size: 12px;
  color: #DB4437; }

nav.navbar .navbar-right > li.navbar-user .dropdown-menu {
  top: 68px;
  border-radius: 3px; }

.index-header {
  padding: 10px 0; }
  .index-header .carousel-inner {
    height: 415px; }
    .index-header .carousel-inner img {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px !important;
      height: 415px; }

.card {
  position: relative;
  margin: 0 0 15px;
  padding: 0 15px 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); }

.card a.card-title {
  display: inline-block;
  margin: 6px 0 6px;
  line-height: 30px;
  text-decoration: none; }
  .card a.card-title > h2 {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle; }

.card a.card-title:hover {
  text-decoration: underline; }

.card .card-image {
  display: block;
  position: relative;
  margin: 0 -15px 4px;
  max-height: 273px;
  overflow: hidden; }
  .card .card-image > img {
    display: block !important;
    width: 100%;
    transition: all .5s ease-in-out .3s; }

.card .card-index {
  margin: 15px 0 0;
  max-height: 40px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis; }

/*# sourceMappingURL=app.css.map */
