::-moz-selection {
  color: #fff;
  background: #14B9C8; }

::selection {
  color: #fff;
  background: #14B9C8; }

.event-gift-container {
  position: relative; }

a {
  color: #333; }

footer.footer .pull-right .list-inline > li:nth-child(1) > a, footer.footer .pull-right .list-inline > li:nth-child(1) > button {
  background: url(../images/icons.png) 0 -38px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(2) > a, footer.footer .pull-right .list-inline > li:nth-child(2) > button {
  background: url(../images/icons.png) 0 -80px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(3) > a, footer.footer .pull-right .list-inline > li:nth-child(3) > button {
  background: url(../images/icons.png) 0 -122px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(4) > a, footer.footer .pull-right .list-inline > li:nth-child(4) > button {
  background: url(../images/icons.png) 0 -164px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(5) > a, footer.footer .pull-right .list-inline > li:nth-child(5) > button {
  background: url(../images/icons.png) 0 -206px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li:nth-child(6) > a, footer.footer .pull-right .list-inline > li:nth-child(6) > button {
  background: url(../images/icons.png) 0 -248px no-repeat;
  background-size: 120px; }

footer.footer .pull-right .list-inline > li > div > span {
  display: block;
  position: relative;
  margin: 0; }

footer.footer .pull-right .list-inline > li:nth-child(6) > div > span {
  width: 230px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15); }

footer.footer .pull-right .list-inline > li > div {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding-bottom: 10px;
  border-radius: 3px;
  transition: opacity .3s ease-in-out 0s; }

footer.footer .pull-left .footer-left-header {
  margin: 0 0 15px; }

footer.footer .pull-left .footer-left-header .left-header-logo {
  float: left;
  display: block;
  width: 120px;
  height: 36px;
  background: url(https://img.taptapdada.com/market/images/0fb3bf76ca2d9d9fe4f76eb8a2cfd738.png) no-repeat;
  background-size: 120px; }

footer.footer .pull-left .footer-left-header .dropdown {
  margin: 0 0 0 135px;
  padding: 16px 0 0; }

footer.footer .pull-left .footer-left-header .dropdown .btn, footer.footer .pull-left .footer-left-header .dropdown section.developer-app-submit .app-submit-main.form > form .form-footer .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer footer.footer .pull-left .footer-left-header .dropdown .btn-save-verifying {
  padding: 0;
  line-height: 20px;
  color: #999;
  border: none; }

footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu {
  margin: 0 0 -16px;
  padding: 10px 0;
  border-radius: 3px;
  background: #eee; }

footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu > li > a {
  color: #666; }

footer.footer .pull-left .footer-left-header .dropdown .link {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: middle;
  line-height: 20px; }

footer.footer .pull-left .footer-left-header .dropdown .link a {
  color: #999; }

footer.footer .pull-left > p {
  margin: 0 0 15px;
  line-height: 30px;
  font-family: Arial;
  font-size: 24px;
  color: #999; }

footer.footer .pull-left > span {
  font-family: Arial;
  font-size: 12px;
  color: #838383; }

footer.footer .pull-left > span a {
  color: #838383; }

nav.navbar {
  margin-bottom: 0;
  color: #fff;
  border: none;
  border-radius: 0;
  background-color: #14B9C8; }

nav.navbar .navbar-header .navbar-toggle {
  float: left;
  margin: 8.5px -10px 8.5px 5px;
  padding: 8px 10px;
  border: none;
  background: 0 0; }

nav.navbar .navbar-header .navbar-toggle .icon-bar {
  width: 24px;
  height: 3px;
  background: #fff; }

nav.navbar .navbar-header .navbar-brand {
  padding: 19px 15px;
  height: 80px; }

nav.navbar .navbar-header .navbar-brand > img {
  height: 100%; }

nav.navbar .navbar-header .navbar-header-download {
  float: left;
  display: block;
  margin: 30px 0;
  color: #fff; }

nav.navbar .navbar-header .navbar-header-download > i.icon-mobile {
  display: block;
  margin: 3px 0 0; }

nav.navbar .navbar-header .navbar-header-download > i {
  float: left; }

.taptap-icon.icon-mobile {
  width: 8px;
  height: 14px;
  background-position: 0 0; }

nav.navbar .navbar-header .navbar-header-download > i.icon-mobile-download {
  display: none;
  margin: 0 0 0 5px; }

nav.navbar .navbar-header .navbar-header-download > i {
  float: left; }

.taptap-icon.icon-mobile-download {
  width: 14px;
  height: 26px;
  background-position: 0 -54px; }

.taptap-icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/main_icons.png) no-repeat;
  background-size: 52px; }

nav.navbar .navbar-header .navbar-header-download > span {
  display: block;
  margin-left: 18px; }

nav.navbar .navbar-mask {
  display: none; }

nav.navbar .navbar-collapse .navbar-left > li > a {
  padding: 30px 0;
  width: 90px;
  text-align: center;
  font-size: 16px;
  color: #fff; }

nav.navbar .navbar-collapse .navbar-left > li.active > a {
  color: #fff;
  box-shadow: none;
  background-color: #12A7B4; }

nav.navbar .navbar-collapse .navbar-left > li > a:hover {
  color: #fff;
  background-color: #34C3D2; }

nav.navbar .navbar-right {
  margin-right: 0; }

nav.navbar .navbar-right > li.navbar-user > a {
  display: block;
  margin: 17px 0;
  padding: 0;
  width: 46px;
  height: 46px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  background: #fff;
  overflow: hidden; }

nav.navbar .navbar-right > li.navbar-user > a > img {
  width: 100%; }

button.taptap-notice-bell {
  margin: 28px 15px 0 0;
  padding: 0;
  border: none;
  background: 0 0 !important; }

button.taptap-notice-bell > i {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background: url(../images/notice.png) no-repeat;
  background-size: 42px; }

nav.navbar .navbar-form {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; }

.btn-default, .btn-primary {
  border-radius: 3px;
  box-shadow: none; }

.btn-default, .btn-default:hover {
  color: #12A7B4;
  border-color: #12A7B4; }

.btn-default {
  background: 0 0; }

nav.navbar .navbar-form .btn, nav.navbar .navbar-form section.developer-app-submit .app-submit-main.form > form .form-footer .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer nav.navbar .navbar-form .btn-save-verifying {
  position: absolute;
  top: 30px;
  left: 15px;
  padding: 0;
  border: none; }

.taptap-icon.icon-search {
  width: 14px;
  height: 14px;
  background-position: 0 -16px; }

.taptap-icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/main_icons.png) no-repeat;
  background-size: 52px; }

nav.navbar .navbar-form .form-group {
  margin-bottom: 0;
  padding: 24px 0; }

nav.navbar .navbar-form .form-group .form-control {
  padding: 5px 15px 5px 38px;
  width: 200px;
  height: 32px;
  color: #12A7B4;
  border-radius: 18px;
  border: none;
  background: #b4ebfa;
  box-shadow: none; }

nav.navbar .navbar-search {
  display: none;
  position: absolute;
  top: 13px;
  right: 80px;
  padding: 0;
  border: none;
  box-shadow: none;
  z-index: 5;
  cursor: pointer; }

.taptap-icon.icon-search-white {
  width: 24px;
  height: 24px;
  background-position: -26px -222px; }

nav.navbar .navbar-collapse.in + .navbar-mask {
  display: block; }

nav.navbar .navbar-collapse .narbar-collapse-btn, nav.navbar .navbar-collapse .navbar-collapse-form {
  display: none; }

@media only screen and (max-width: 1199px) {
  nav.navbar .navbar-collapse {
    padding: 0 5px; } }

@media only screen and (max-width: 991px) {
  nav.navbar .navbar-header .navbar-header-download > i.icon-mobile {
    display: none; }
  nav.navbar .navbar-header .navbar-header-download > i.icon-mobile-download {
    display: block; }
  nav.navbar .navbar-header .navbar-header-download > span {
    display: none; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  nav.navbar .navbar-collapse .navbar-left > li > a {
    width: 70px;
    font-size: 14px; }
  nav.navbar .navbar-header .navbar-brand {
    padding: 25px 0 25px 15px; }
  nav.navbar .navbar-header .navbar-brand > img {
    height: 30px; }
  nav.navbar .navbar-form .form-group .form-control {
    width: 150px; }
  nav.navbar .navbar-header .navbar-header-download {
    margin: 27px 0; } }

@media only screen and (max-width: 767px) {
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: auto;
    z-index: 7777; }
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  nav.navbar .navbar-header {
    float: left; }
  nav.navbar .navbar-header .navbar-brand {
    padding: 11px 10px 11px 12px;
    height: 50px; }
  nav.navbar .navbar-header .navbar-header-download {
    margin: 14px 0 10px; }
  nav.navbar .navbar-collapse {
    position: fixed;
    top: 0;
    left: -73.6111111111%;
    margin: 0;
    padding: 25px 24px 15px;
    width: 73.6111111111%;
    min-height: 100%;
    border: none;
    background: #14B9C8;
    z-index: 9999;
    transition: all .3s ease-in-out 0s; }
  nav.navbar .navbar-collapse .narbar-collapse-btn, nav.navbar .navbar-collapse .navbar-collapse-form {
    display: block;
    position: relative; }
  nav.navbar .navbar-collapse .narbar-collapse-btn > .btn, nav.navbar .navbar-collapse .navbar-collapse-form > .btn, nav.navbar .navbar-collapse section.developer-app-submit .app-submit-main.form > form .form-footer .narbar-collapse-btn > .btn-save-verifying, nav.navbar .navbar-collapse section.developer-app-submit .app-submit-main.form > form .form-footer .navbar-collapse-form > .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer nav.navbar .navbar-collapse .narbar-collapse-btn > .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer nav.navbar .navbar-collapse .navbar-collapse-form > .btn-save-verifying {
    margin: 0 0 20px;
    padding: 0;
    border: 0; }
  nav.navbar .navbar-collapse .narbar-collapse-btn, nav.navbar .navbar-collapse .navbar-collapse-form {
    display: block;
    position: relative; }
  nav.navbar .navbar-collapse .navbar-collapse-form {
    display: none; }
  nav.navbar .navbar-collapse .narbar-collapse-btn .navbar-form, nav.navbar .navbar-collapse .navbar-collapse-form .navbar-form {
    position: static; }
  nav.navbar .navbar-collapse .narbar-collapse-btn .navbar-form, nav.navbar .navbar-collapse .navbar-collapse-form .navbar-form {
    float: none;
    margin: 0 0 20px;
    opacity: 1;
    visibility: visible;
    box-shadow: none; }
  nav.navbar .navbar-form {
    position: absolute;
    top: 9px;
    right: 80px;
    margin: 0;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: all .5s ease-in-out 0s; }
  nav.navbar .navbar-form .btn, nav.navbar .navbar-form section.developer-app-submit .app-submit-main.form > form .form-footer .btn-save-verifying, section.developer-app-submit .app-submit-main.form > form .form-footer nav.navbar .navbar-form .btn-save-verifying {
    top: 6px; }
  nav.navbar .navbar-form .form-group {
    padding: 0; }
  nav.navbar .navbar-form .form-group .form-control {
    width: 100%;
    border-radius: 0; }
  .taptap-search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  nav.navbar .navbar-right {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 0; }
  nav.navbar .navbar-right > li {
    float: left; }
  nav.navbar .navbar-right > li {
    float: left; }
  nav.navbar .navbar-right > li.navbar-user > a {
    margin: 12.5px 0;
    width: 25px;
    height: 25px;
    border-width: 1px; }
  nav.navbar .navbar-search {
    display: block; }
  nav.navbar .navbar-collapse.in {
    left: 0; }
  nav.navbar .navbar-collapse .narbar-collapse-btn, nav.navbar .navbar-collapse .navbar-collapse-form {
    display: block;
    position: relative; }
  .taptap-icon.icon-arrow-left {
    width: 16px;
    height: 16px;
    background-position: 0 -82px; }
  nav.navbar .navbar-collapse .navbar-left {
    margin: 0 -24px; }
  nav.navbar .navbar-collapse .navbar-left > li > a {
    margin: 5px 0;
    padding: 10px 39px;
    width: 100%;
    line-height: 20px;
    text-align: left;
    font-size: 18px; }
  nav.navbar .navbar-collapse.slide-in + .navbar-mask {
    display: block; }
  nav.navbar .navbar-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    z-index: 8888;
    cursor: pointer; }
  nav.navbar .navbar-collapse {
    float: left; }
  nav.navbar .navbar-collapse .narbar-collapse-btn, nav.navbar .navbar-collapse .navbar-collapse-form {
    display: block;
    position: relative; } }

@media only screen and (min-width: 768px) {
  nav.navbar .navbar-collapse {
    float: left; } }

footer.footer {
  margin-top: 60px;
  padding: 30px 0;
  height: 215px;
  background: #666; }

.col-sm-12 {
  position: static; }

footer.footer .pull-right {
  text-align: right; }

footer.footer .pull-right > p {
  padding-right: 151px;
  text-align: left;
  font-size: 12px;
  color: #999; }

footer.footer .pull-right .list-inline {
  margin: 0 -5px 10px; }

footer.footer .pull-right .list-inline > li {
  position: relative;
  padding: 0;
  margin: 0 5px;
  vertical-align: middle;
  z-index: 1; }

footer.footer .pull-right .list-inline > li > a, footer.footer .pull-right .list-inline > li > button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3); }

.taptap-button-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  width: 40px;
  height: 40px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid #14B9C8;
  border-radius: 4px;
  cursor: pointer; }

.taptap-button-top > i {
  display: block;
  height: 100%;
  background: url(../images/back-to-top@2x.png) 1px 2px no-repeat;
  background-size: 46px; }

footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu > li.active > a {
  color: #14B9C8;
  background: #e6e6e6; }

@media only screen and (max-width: 991px) {
  footer.footer {
    margin-top: 30px;
    height: auto; }
  .row {
    margin-left: -10px;
    margin-right: -10px; }
  footer.footer .pull-right {
    float: none !important;
    margin-bottom: 25px;
    text-align: center; }
  footer.footer .pull-left {
    float: none !important; }
  footer.footer .pull-right > p {
    margin-bottom: 20px;
    padding: 0;
    text-align: center; }
  footer.footer .pull-left .footer-left-header .left-header-logo {
    float: none;
    margin: 0 auto 10px; }
  footer.footer .pull-left .footer-left-header .dropdown {
    margin: 0;
    padding: 0;
    text-align: center; }
  footer.footer .pull-left .footer-left-header .dropdown .dropdown-menu {
    left: 50%;
    margin-left: -80px; }
  footer.footer .pull-left > p {
    text-align: center; }
  footer.footer .pull-left > span {
    display: block;
    text-align: center; }
  footer.footer .pull-left > span > span {
    display: block; }
  .taptap-button-top {
    right: 10px;
    bottom: 10px; } }

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px; }
  footer.footer .pull-right .list-inline {
    margin: 0 -3px; }
  footer.footer .pull-right .list-inline > li {
    margin: 0 3px; }
  .taptap-button-top {
    display: none !important; } }

/*# sourceMappingURL=app.css.map */
