.footer {
    padding-top: 15px;
    position: relative;
    .footlink {
        border-radius: 5px;
        background: #fff;
        padding: 10px;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
        span {
            padding: 0 10px;
            color: #dcdcdc;
        }
        a:hover {
            color: #f07b7c;
        }
    }

    .copyright {
        color: #999;
        padding: 10px;
        p {
            margin: 0 0 10px;
        }
    }
}