.banner {
    position: relative;
    z-index: 1;
    height: 170px;
    background: url(../images/home_banner.jpg) no-repeat center;
    background-size: cover;

    .logo {
        margin-top: 55px;
        img {
            width: 227px;
            height: 74px;
        }
    }
}

.nav_top {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 9999;
    color: #fff;
    position: absolute!important;
    height: 40px!important;
    background: rgba(255,255,255,.6)!important;
    box-shadow: rgba(0,0,0,.1) 0 1px 2px!important;
    .auth {
        display: inline-block;
        list-style: none;
        li {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px;
            float: left;
            a {
                width: auto;
                float: left;
                line-height: 40px;
                padding: 0 1rem;
                text-decoration: none;
                color: #333;
                height: 40px;
            }
        }
        li:hover {
            background: rgba(255,255,255,.7)!important;
        }
    }
}

.nav_menu {
    margin: 0 auto;
    background: #14B9C8;
    a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        padding: 0px 20px;
    }
    a:hover {
        background: #34C3D2;
    }
    a.active {
        background-color: #12A7B4;
    }
    a.active {
        box-shadow: rgba(0,0,0,.1) 0 1px 2px!important;
    }
}